<div class='text-center container-fluid' style="max-width:750px; background-color: #ffffff; border-radius: 25px; padding: 20px; margin-top: 20px">

    <h3 class='text-center'><%= @genius.first_name %> <%= @genius.last_name %>'s Startups: </h3>
    
    <br>

    <div class='col-auto'>
        <%= button_to "View All Startups", pitches_path, {method: 'get', class: 'btn btn-default btn-md btn-primary'} %>
    </div>
    
    <% if session[:genius_id] %>
        <div class='row justify-content-center'>
            <div class='row no-gutters' style='padding-top: 5px'>
                <div class='col-auto' style='padding-right: 2.5px'>
                    <%= button_to "View All Startups", pitches_path, {method: 'get', class: 'btn btn-default btn-md btn-primary'} %>
                </div>
            </div>
        </div>
        <br>
    <% elsif session[:angel_id] %>
        <br>
    <% end %>

    <% @genius.pitches.each do |pitch| %>
        
            <b>Title: </b><%= pitch.title %><br>
            <b>Genius: </b><%= pitch.genius.first_name %> <%= pitch.genius.last_name %><br>
            <b>The Pitch: </b><br><%= pitch.description %><br>
            <b>Category: </b><%= pitch.category %><br>
            <b>Funding Start Date: </b><%= pitch.funding_start_date.strftime("%b %d, %Y %l:%M %p") %><br>
            <b>Funding End Date: </b><%= pitch.funding_end_date.strftime("%b %d, %Y %l:%M %p") %><br>
            <b>Total Funding: </b>$<%= number_with_delimiter(pitch.total_funding) %><br>
            <b>Funding Goal: </b>$<%= number_with_delimiter(pitch.funding_goal) %><br>

        <div class='row no-gutters justify-content-center' style='padding-top: 5px'>
            <div class='col-auto'>
                <%= button_to "View", pitch_path(pitch), {method: 'get', class: 'btn btn-default  btn-md btn-primary'} %>
            </div>
            <div class='col-auto' style='padding-left: 6px; padding-right: 6px;'>
                <%= button_to "Fund", pitch_path(pitch), {method: 'get', class: 'btn btn-default  btn-md btn-success'} %>
            </div>
            <div class='col-auto'>
                <%= button_to "Save", pitch_path(pitch), {method: 'get', class: 'btn btn-default  btn-md btn-warning'} %>
            </div>
        </div>
        <br>
    <% end %>
</div>