<div class='text-center container-fluid' style='max-width: 750px; background-color: #ffffff; border-radius: 25px; padding: 20px'>
    <h3 class='text-center'>All Startups: </h3>

    <br>

    <% if session[:genius_id] %>
        <div class='row justify-content-center'>
            <div class='row no-gutters' style='padding-top: 5px'>
                <div class='col-auto' style='padding-right: 2.5px;'>
                    <%= button_to "View Your Startups", genius_path(Genius.find(session[:genius_id])), {method: 'get', class: 'btn btn-default btn-md btn-primary'} %>
                </div>
                <div class='col-auto' style='padding-left: 2.5px; padding-right: 2.5px;'>
                    <%= button_to "Fully-Funded Startups", fully_funded_pitches_path, {method: 'get', class: 'btn btn-default btn-md btn-success'} %>
                </div>
                <div class='col-auto' style='padding-left: 2.5px'>
                    <%= button_to "Create A Startup", new_pitch_path, {method: 'get', class: 'btn btn-default btn-md btn-warning'} %>
                </div>
            </div>
        </div>
    <% elsif session[:angel_id] %>
    <% end %>
    
    <br>

        <% @pitches.each do |pitch| %>
            <div>
                <b>Title: </b><%= pitch.title %><br>
                <b>Genius: </b><%= button_to "#{pitch.genius.first_name} #{pitch.genius.last_name}", genius_path(pitch.genius), {method: 'get', class: 'btn btn-default btn-sm btn-warning'} %>
                <b>The Pitch: </b><br><%= pitch.description %><br>
                <b>Category: </b><%= pitch.category %><br>
                <b>Funding Start Date: </b><%= pitch.funding_start_date.strftime("%b %d, %Y %l:%M %p") %><br>
                <b>Funding End Date: </b><%= pitch.funding_end_date.strftime("%b %d, %Y %l:%M %p") %><br>
                <b>Total Funding: </b>$<%= number_with_delimiter(pitch.total_funding) %><br>
                <b>Funding Goal: </b>$<%= number_with_delimiter(pitch.funding_goal) %><br>


                <div class='row no-gutters justify-content-center' style='padding-top: 5px'>
                    <div class='col-auto'>
                        <%= button_to "View", pitch_path(pitch), {method: 'get', class: 'btn btn-default btn-md btn-primary'} %>
                    </div>
                    <% if session[:angel_id] %>
                        <div class='col-auto' style='padding-left: 6px'>
                            <%= button_to "Fund", new_investment_path, {method: 'get', class: 'btn btn-default btn-md btn-success', params: {pitch_id: pitch.id}} %>
                        </div>
                    <% end %>
                    <div class='col-auto' style='padding-left: 6px'>
                        <%= button_to "Save", pitch_path(pitch), {method: 'get', class: 'btn btn-default btn-md btn-warning'} %>
                    </div>
                </div>
                <br>
            </div>
        <% end %>
</div>