<div class='text-center container-fluid' style='max-width: 750px; background-color: #ffffff; border-radius: 25px; padding: 20px'>
    <div>

        <h4>Startup Idea: </h4><br>

        <%= render "shared/view_all_startups_button" %>

        <b>Title: </b><%= @pitch.title %><br>
        <b>Genius: </b><%= button_to "#{@pitch.genius.first_name} #{@pitch.genius.last_name}", genius_path(@pitch.genius), {method: 'get', class: 'btn btn-default btn-sm btn-warning'} %>
        <b>The Pitch: </b><br><%= @pitch.description %><br>
        <b>Category: </b><%= @pitch.category %><br>
        <b>Funding Start Date: </b><%= @pitch.funding_start_date.strftime("%b %d, %Y %l:%M %p") %><br>
        <b>Funding End Date: </b><%= @pitch.funding_end_date.strftime("%b %d, %Y %l:%M %p") %><br>
        <b>Total Funding: </b>$<%= number_with_delimiter(@pitch.total_funding) %><br>
        <b>Funding Goal: </b>$<%= number_with_delimiter(@pitch.funding_goal) %><br>

        <div class='row no-gutters justify-content-center'style='padding-top: 5px'>
            <div class='col-auto'>
                <%= button_to "Back", pitches_path, {method: 'get', class: 'btn btn-default btn-md btn-primary'} %>
            </div>
            <div class='col-auto' style='padding-left: 6px; padding-right: 6px;'>
                <%= button_to "Fund", new_investment_path, {method: 'get', class: 'btn btn-default btn-md btn-success', params: {pitch_id: @pitch.id}}%>
            </div>
            <div class='col-auto'>
                <%= button_to "Save", pitches_path, {method: 'get', class: 'btn btn-default btn-md btn-warning'} %>
            </div>
        </div>

            <% if @pitch.investments.count > 0 %>
                <br><br>Investments: <br>
            <% end %>
            <% @pitch.investments.each do |investment| %>
                <b>Angel: </b>
                <div class='row justify-content-center'>
                    <div class='row no-gutters' style='padding-top: 5px'>
                        <div class='col-auto' style='padding-right: 2.5px'>
                        <%= button_to "#{investment.angel.first_name} #{investment.angel.last_name}", angel_path(investment.angel), {method: 'get', class: 'btn btn-default btn-sm btn-warning'} %>
                        </div>
                    </div>
                </div>
                <b>Amount Invested: </b>$<%= number_with_delimiter(investment.investment_amount) %>
                <div class='row justify-content-center'>
                    <div class='row no-gutters' style='padding-top: 5px'>
                        <div class='col-auto' style='padding-right: 2.5px'>
                            <%= button_to "View Investment", investment_path(investment), {method: 'get', class: 'btn btn-default btn-sm btn-success'} %>
                        </div>
                    </div>
                </div>
                <br>
            <% end %>

    </div>
</div>